@charset "utf-8";

/* 색 설정 */
:root {
    --main-color: #CF2E41;
    --black-color : #222;
    --white-color : #fff
}

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* 스크롤 커스텀 */
html::-webkit-scrollbar {width: 8px;}
html::-webkit-scrollbar-thumb {background-color: var(--main-color); border-radius: 10px;}

/* 드래그 블록 커스텀 */
::selection { background-color:var(--main-color); color:#fff; }


/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }
p{ word-break: keep-all; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 3vw; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */


/* header */
header{ position: fixed; left: 0; top: 0; z-index: 999; width: 100%; font-family: 'KoPub Batang'; padding: 16px 0; background-color: #0E1F39; color: #fff; }
header.main.active{ background-color: transparent; color: #fff; }
header .inner{ display: flex; align-items: center; justify-content: space-between; }
header .logo.white{ display: none; }
header .menu-list{ display: flex; align-items: center; gap: 55px; }
header .menu-btn{ display: none; }
header .contact-btn{ line-height: 1.5em; display: flex; align-items: center; gap: 6px; font-size: 18px; background-color: #CCA95A; color: #fff; padding: 5px 50px; gap: 6px; }
header .contact-btn .dot{ display: block; flex-shrink: 0; background-color: #fff; width: 6px; height: 6px; border-radius: 50%; }


@media screen and (max-width: 1250px) { 
    header .logo{ width: 200px; }
    header .contact-btn{ padding: 5px 28px; }
    header .menu-list{ gap: 40px; }
}
@media screen and (max-width: 950px) { 
    header .menu-list{ display: none; }
    header .btn-wrap{ display: flex; align-items: center; gap: 10px; }
    header .menu-btn{ display: block; background-color: transparent; border: none; padding: 0; }
    header .menu-btn .icon{ width: 30px; }
}
@media screen and (max-width: 650px) { 
    header .logo{ width: 150px; }
    header .contact-btn{ padding: 5px 15px; font-size: 12px; }
    header .menu-btn .icon{ width: 25px; }
}